@import url(http://fonts.googleapis.com/css?family=Lato:100,300,900);

body, html {
    margin:0;
    padding:0;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html {
    background-color: #18C2F5;
}

body {
    color: #fff;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-weight: 100;
    font-size: 3em;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.toolbelt {
    height: 200px;
    margin: 100px 0;
    background-color: #F4F461;
}