@import url(http://fonts.googleapis.com/css?family=Lato:300,400,900);

body, html {
    margin:0;
    padding:0;
    min-width: 320px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

html {
    background-color: #18C2F5;
}

body {
    color: #fff;
}

h1 {
    font-weight: 900;
    text-transform: uppercase;
}

h2 {
    font-weight: 300;
}

.content {
    max-width: 960px;
    margin: 0 auto;
}

.toolbelt {
    height: 300px;
    margin: 100px 0;
    background-color: #F4F461;
    color: #AAB69B;
    font-weight: 400;
    padding: 0.25em 1em;
    box-shadow: 0 0 25px #553;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}